<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp_awareness_app"
    android:targetSandboxVersion="2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Include required permissions for Google Maps API to run. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity android:name="com.example.hp_awareness_app.ProfileActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name="com.example.hp_awareness_app.NewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.hp_awareness_app.PhoneActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name="com.example.hp_awareness_app.AdminLoginActivity" />
        <activity android:name="com.example.hp_awareness_app.AddAdminActivity" />
        <activity
            android:name="com.example.hp_awareness_app.MainActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.hp_awareness_app.VerifyPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.hp_awareness_app.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hp_awareness_app.InfoWeb"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp_awareness_app.Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp_awareness_app.SendMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp_awareness_app.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.hp_awareness_app.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp_awareness_app.activity_contributors"
            android:screenOrientation="portrait" />

        <service
            android:name="com.example.hp_awareness_app.GeofenceTransitionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCB3lT9OLRUJgkb5flgGmgrW0lhjxOyCIA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.example.hp_awareness_app.CasesFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp_awareness_app.GeofenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp_awareness_app.HelpMessegeActivity"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.hp_awareness_app.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:theme="@style/Dexter.Internal.Theme.Transparent" /> <!-- Needs to be explicitly declared on P+ -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:directBootAware="true"
            android:exported="false" >
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="com.example.hp_awareness_app.com.squareup.picasso"
            android:exported="false" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.example.hp_awareness_app.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />
        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.example.hp_awareness_app.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>